{% extends "base.html" %}

{% block content %}
<div class="grid_3" id="game-instructions">
  {% if player %}
  {% if player.facebookAccount %}
    <fb:profile-pic uid="loggedinuser" facebook-logo="true"></fb:profile-pic>
  {% endif %}
  <p style="text-align: left;">
    Welcome back {{ player.nickname }}
    <fb:name uid="loggedinuser" useyou="false"></fb:name>
  </p>
  <br />
  {% endif %}
  <h1>Instructions</h1>
  <p>
    You will be given two words with the same number of letters

    &bull;

    Your goal is to turn the first word into the second word

    &bull;

    You may only change one letter at a time and each change of a letter must
    form a real word

    &bull;

    For example, going from <em>cat</em> to <em>dog</em> would look like
    <em>cat &rarr; cot &rarr; cog &rarr; dog</em>

    &bull;

    Try to get from one word to the other as fast as you can and with the
    smallest number of changes

    &bull;

    As you play more games, your <em>Word IQ</em> will slowly improve based on
    the words you use

    &bull;

    To start playing, click the big fat button
  </p>
  <br />
  {% if not player %}
  <p>
    Have a gmail account?  Keep track of your progress by <a href="{{ loginUrl }}">logging in!</a>
  </p>
  <br />
  <p>
    Have a facebook account? Click connect:
    <br/>
    <fb:login-button size="medium" onlogin="handleFacebookLogin();"></fb:login-button>
  </p>
  {% endif %}
  <br />
  share:
  <script type="text/javascript">
    digg_skin = 'icon';
    digg_window = 'new';
    digg_title = "Bird to Word";
    digg_topic = "playable_web_games";
  </script>
  <script src="http://digg.com/tools/diggthis.js" type="text/javascript"></script>
  <fb:share-button class="url" href="http://www.birdtoword.com"></fb:share-button>
  <a href="http://delicious.com/save" onclick="window.open('http://delicious.com/save?v=5&amp;noui&amp;jump=close&amp;url='+encodeURIComponent(location.href)+'&amp;title='+encodeURIComponent(document.title), 'delicious','toolbar=no,width=550,height=550'); return false;">
    <img src="http://static.delicious.com/img/delicious.small.gif" height="10" width="10" alt="Delicious" />
  </a>
  <a href="http://www.stumbleupon.com/submit?url=http://www.birdtoword.com%26title%3DBird%2Bto%2BWord">
    <img border=0 src="http://cdn.stumble-upon.com/images/16x16_su_round.gif" alt=""/>
  </a>
</div>
<div class="grid_6">
  <div id="game-wrapper">
    <div class="buttons">
      <button id="start-playing-button" class="big-button">Start Playing</button>
    </div>
    <div id="game">
    </div>
  </div>
  <div id="definition-wrapper" style="display: none;">
    <h1>Definition</h1>
    <div class="definition">
    </div>
  </div>
</div>
{% if player %}
<div class="grid_3" id="game-history">
  <h1>History</h1>
    <table>
      <tr>
        <th class="from">From</th>
        <th class="to">To</th>
        <th class="time">Time</th>
        <th class="changes">Changes</th>
      </tr>
    </table>
  <div class="table-wrapper">
    <table>
      {% for game in games %}
      <tr class="{% cycle odd,even %}">
        <td class="from">{{game.fromWord}}</td>
        <td class="to">{{game.toWord}}</td>
        <td class="time">{{game.formattedTime}}</td>
        <td class="changes">{{game.changes}}</td>
      </tr>
      {% endfor %}
      <tr style="display: none;">
        <td class="from"></td>
        <td class="to"></td>
        <td class="time"></td>
        <td class="changes"></td>
      </tr>
    </table>
  </div>
</div>
{% endif %}
<div class="clear">&nbsp;</div>
<div class="grid_4">

  &nbsp;
</div>
<div class="clear">&nbsp;</div>



<div id="templates">
  <div class="game" style="display: none">
    <div class="levels">
      <span>3 letter words</span>
      <span>4 letter words</span>
      <span>5 letter words</span>
    </div>
    <div class="from-word fixed-word"></div>
    <div class="entries"></div>
    <div class="to-word fixed-word"></div>
    <div class="win" style="display: none"></div>
    <div class="play-again" style="display: none">
      <button class="medium-button">Play Again</button>
    </div>
    <div class="share-fb" style="display: none">
      <button class="medium-button">Tell your friends on Facebook</button>
    </div>
    <div class="challenge" style="display: none">
      <button class="medium-button">Challenge your friends</button>
    </div>
    <span class="too-hard-button">This one is too hard for me</span>
  </div>
</div>

<div id="challenge-friend" style="display: none;">
  <div id="challenge-friend-window">
    <div id="challenge-friend-success" class="window-content" style="display: none;">
      Your challenge has been sent to <span class="recipient"></span>.
    </div>
    <div id="challenge-friend-sending" class="window-content" style="display: none;">
      Sending challenge...
    </div>
    <div id="challenge-friend-content">
      <form id="challenge-friend-form" class="window-content">
        <div class="error ui-state-error ui-corner-all form-row" style="display: none;">
          <span class="ui-icon ui-icon-alert" style="float: left; margin-right: 5px;"></span>
          <strong>Error:</strong>
          <span class="message"></span>
        </div>
        <div class="form-row">
          <label for="from">From:</label>
          <input type="text" name="from" class="ui-widget-content ui-corner-all"
                 value="{{player.guessEmail}}"/>
        </div>
        <div class="form-row">
          <label for="to">To:</label>
          <input type="text" name="to" class="ui-widget-content ui-corner-all"/>
        </div>
        <div class="form-row">
          <label for="message" style="width: 100%">Personal Message:</label><br/>
          <textarea name="message" class="ui-widget-content ui-corner-all"></textarea>
        </div>
      </form>
    </div>
  </div>
  <div id="challenge-friend-shadow">
  </div>
</div>
<div id="error-dialog" style="display: none;">
  <span class="ui-icon ui-icon-alert" style="float: left; margin-right: 5px;"></span>
  Sorry, but it looks like there was an unexpected error.  Click Ok to reload the page.
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
{% include "front-page.js" %}
</script>
{% endblock %}
